<% @issues.each do |issue| %>
            <div class="large-8 columns" style="overflow: auto; height: 500px">
              <div class="row">
                <div class="large-4 small-6 columns">
                  <img src="http://placehold.it/500x500&text=Thumbnail">
                  <div class="panel">
                    <h5><%= issue.number %> - <%= issue.title %></h5>
                    <h6 class="subheader"><%= issue.description %></h6>
                  </div>
                </div>
              </div>
            </div>
<% end %>

<br />
<%= link_to 'New Issue', new_issue_path %>
