              <!-- The add items, on a Volume/Show page will add ALL ISSUES -->
              <%#<div class="hide-for-small panel">%>
                <!-- Add one for 'own lists' and one for 'wish lists' -->
                <!--
                  If not in wishlist
                    insert "button secondary" (grey) add_to_wish_list_link
                  else
                    insert "button alert" (red) remove_from_wish_list_link
                -->
                <a href="#" class="small-16 large-12 tiny button secondary">Add to Wish</a>

                <!--
                  If not in ownedlist:
                    insert "button success" (green) add_to_owned_list_link
                  else
                    insert "button alert" (red) remove_from_owned_list_link
                -->
                <a href="#" class="small-16 large-12 tiny button success">Add to Owned</a>
              <%#</div>%>
